extends layout

block content
    h1= chunk.title
    p= chunk.content
    ul
        each link in chunk.chunks
            li
                a(href= chunk.name + '/' + link.name).title= link.title
                .author= link.author
                .score= link.score